Notatki do latex.blueprint.json
{
    "name": "Notatki do latex",
    "flow": [
        {
            "id": 5,
            "module": "onedrive:watchFilesFolders",
            "version": 2,
            "parameters": {
                "limit": 3,
                "choose": "create",
                "folder": "/B57426E8320FE146!s90a3af5514ab4d1dac5e6926c7948825/B57426E8320FE146!s61049723ff0d481890c53e792c7db0ae",
                "search": "",
                "select": "my",
                "select1": "no",
                "itemType": "file",
                "__IMTCONN__": 5403455
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -656,
                    "y": -59
                },
                "restore": {
                    "parameters": {
                        "choose": {
                            "label": "By Created Time"
                        },
                        "folder": {
                            "path": [
                                "AA_Studia_Auto",
                                "INPUT"
                            ]
                        },
                        "select": {
                            "label": "My Drive"
                        },
                        "select1": {
                            "label": "No"
                        },
                        "itemType": {
                            "label": "File"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "My Microsoft connection (Grzegorz Ciapa <grzegorz.ciapa@outlook.com>)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Watch Files/Folders",
                        "required": true,
                        "validate": {
                            "enum": [
                                "create",
                                "update"
                            ]
                        }
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose your OneDrive location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "my",
                                "share",
                                "site",
                                "group"
                            ]
                        }
                    },
                    {
                        "name": "itemType",
                        "type": "select",
                        "label": "Choose an Item Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder",
                                "both"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "select1",
                        "type": "select",
                        "label": "Enable to Enter a Drive ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "yes",
                                "no"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder"
                    },
                    {
                        "name": "search",
                        "type": "text",
                        "label": "Query Search"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "onedrive:downloadAFile",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5403455
            },
            "filter": {
                "name": "Tylko PDF",
                "conditions": [
                    [
                        {
                            "a": "{{5.name}}",
                            "b": ".pdf",
                            "o": "text:endwith"
                        }
                    ]
                ]
            },
            "mapper": {
                "file": "{{5.id}}",
                "enter": "id",
                "choose": "map",
                "format": false,
                "select": "my",
                "select1": "no"
            },
            "metadata": {
                "designer": {
                    "x": -371,
                    "y": -53
                },
                "restore": {
                    "expect": {
                        "enter": {
                            "label": "File ID"
                        },
                        "choose": {
                            "label": "Enter manually"
                        },
                        "select": {
                            "label": "My Drive"
                        },
                        "select1": {
                            "label": "No"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "My Microsoft connection (Grzegorz Ciapa <grzegorz.ciapa@outlook.com>)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "enter",
                        "type": "select",
                        "label": "Enter (File ID & File Path)",
                        "required": true,
                        "validate": {
                            "enum": [
                                "id",
                                "path"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "boolean",
                        "label": "Convert to PDF",
                        "required": true
                    },
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose your OneDrive location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "my",
                                "site",
                                "group"
                            ]
                        }
                    },
                    {
                        "name": "select1",
                        "type": "select",
                        "label": "Enable to Enter a Drive ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "yes",
                                "no"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 26,
            "module": "onedrive:downloadAFile",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5403455
            },
            "mapper": {
                "file": "/AA_Studia_Auto/INPUT/{{replace(5.name; \".pdf\"; \".txt\")}}",
                "enter": "path",
                "choose": "map",
                "format": false,
                "select": "my",
                "select1": "no"
            },
            "metadata": {
                "designer": {
                    "x": -102,
                    "y": -39
                },
                "restore": {
                    "expect": {
                        "enter": {
                            "label": "File Path"
                        },
                        "choose": {
                            "label": "Enter manually"
                        },
                        "select": {
                            "label": "My Drive"
                        },
                        "select1": {
                            "label": "No"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "My Microsoft connection (Grzegorz Ciapa <grzegorz.ciapa@outlook.com>)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "enter",
                        "type": "select",
                        "label": "Enter (File ID & File Path)",
                        "required": true,
                        "validate": {
                            "enum": [
                                "id",
                                "path"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "boolean",
                        "label": "Convert to PDF",
                        "required": true
                    },
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Enter a File Path",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose your OneDrive location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "my",
                                "site",
                                "group"
                            ]
                        }
                    },
                    {
                        "name": "select1",
                        "type": "select",
                        "label": "Enable to Enter a Drive ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "yes",
                                "no"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "text",
                        "label": "File Path",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 28,
                    "module": "builtin:Resume",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "data": "",
                        "filename": "",
                        "filesize": ""
                    },
                    "metadata": {
                        "designer": {
                            "x": -88,
                            "y": 303
                        },
                        "restore": {},
                        "expect": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data"
                            },
                            {
                                "name": "filesize",
                                "type": "uinteger",
                                "label": "File Size"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 12,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 1
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 228,
                    "y": -46
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 17,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "tlsType": "",
                                "proxyKeychain": "",
                                "authenticationType": "noAuth"
                            },
                            "filter": {
                                "name": "Jest TXT",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{26.filesize}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash-preview:generateContent?key=AIzaSyB8LYs-MtsFobb-aHJvkoECzCPnjUH4Wbg",
                                "method": "post",
                                "timeout": "300",
                                "contentType": "json",
                                "inputMethod": "jsonString",
                                "shareCookies": false,
                                "parseResponse": true,
                                "allowRedirects": true,
                                "stopOnHttpError": true,
                                "jsonStringBodyContent": "{\r\n  \"contents\": [\r\n    {\r\n      \"parts\": [\r\n        {\r\n          \"text\": \"Jesteś ekspertem akademickim ze specjalizacją w Inżynierii Kwantowej oraz Finansach. Tworzysz kompletne, spójne notatki w LaTeX na podstawie dołączonego pliku PDF oraz pliku tekstowego (Transkrypcji).\\n\\nZASADY:\\n1. Wygeneruj KOMPLETNY i gotowy do kompilacji dokument LaTeX (zaczynając od \\\\documentclass{article} a kończąc na \\\\end{document}).\\n2. ZAWSZE dodawaj preambułę z podstawowymi pakietami: \\\\usepackage[T1]{fontenc}, \\\\usepackage[utf8]{inputenc}, \\\\usepackage{polski}, \\\\usepackage{amsmath, amssymb, graphicx, geometry}.\\n3. Jeśli temat to FIZYKA/KWANTY: Obowiązkowo dodaj w preambule \\\\usepackage{physics} oraz \\\\usepackage{braket}. Konsekwentnie używaj notacji Diraca, a notatki rób w języku polskim.\\n4. Jeśli temat to FINANSE: Używaj standardowej notacji finansowej, dbaj o czytelny układ ułamków i wzorów oraz co BARDZO ważne, notatki z finansów generuj w języku angielskim.\\n5. Główne źródło prawdy (wzory, układ strony) to plik PDF.\\n6. Źródło komentarzy i wyjaśnień to plik tekstowy. Uzupełniaj suche wzory z PDFa o to, co mówił prowadzący, dodając logiczne przejścia w tekście lub wyróżnione bloki.\\n7. BARDZO WAŻNE: Wygeneruj TYLKO czysty kod. Pod żadnym pozorem nie umieszczaj kodu w znacznikach markdown.\"\r\n        },\r\n        {\r\n          \"inline_data\": {\r\n            \"mime_type\": \"text/plain\",\r\n            \"data\": \"{{base64(26.data)}}\"\r\n          }\r\n        },\r\n        {\r\n          \"inline_data\": {\r\n            \"mime_type\": \"application/pdf\",\r\n            \"data\": \"{{base64(7.data)}}\"\r\n          }\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}",
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 528,
                                    "y": -346
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                                        },
                                        "inputMethod": {
                                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "parseResponse": {
                                            "mode": "chose"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        },
                                        "queryParameters": {
                                            "mode": "chose"
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "proxyKeychain": {
                                            "label": "Choose a key"
                                        },
                                        "authenticationType": {
                                            "label": "No authenticationUse when no credentials are required for the request."
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "queryParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Parameter"
                                        },
                                        "type": "array",
                                        "label": "Query parameters"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "inputMethod",
                                        "type": "select",
                                        "label": "Body input method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "dataStructure",
                                                "jsonString"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "jsonStringBodyContent",
                                        "type": "text",
                                        "label": "Body content",
                                        "required": true
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "type": "any",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "statusCode",
                                        "type": "number",
                                        "label": "Status Code"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "type": "text",
                                                "label": "Content-Length"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "type": "text",
                                                "label": "Content-Encoding"
                                            },
                                            {
                                                "name": "content-type",
                                                "type": "text",
                                                "label": "Content-Type"
                                            },
                                            {
                                                "name": "server",
                                                "type": "text",
                                                "label": "Server"
                                            },
                                            {
                                                "name": "cache-control",
                                                "type": "text",
                                                "label": "Cache-Control"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array",
                                                "label": "Set-Cookie"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Headers"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 32,
                            "module": "onedrive:uploadAFile",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5403455
                            },
                            "mapper": {
                                "data": "toBinary({{17.data.candidates[].content.parts[].text}})",
                                "enter": "id",
                                "folder": "/B57426E8320FE146!s90a3af5514ab4d1dac5e6926c7948825/B57426E8320FE146!s9ddff4a2c7274ca28b6e81b953b559cd",
                                "select": "my",
                                "select1": "no",
                                "filename": "{{replace(5.name; \".pdf\"; \".tex\")}}",
                                "conflictBehavior": "replace"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 782,
                                    "y": -250
                                },
                                "restore": {
                                    "expect": {
                                        "enter": {
                                            "label": "Folder Location ID"
                                        },
                                        "folder": {
                                            "mode": "chose",
                                            "path": [
                                                "AA_Studia_Auto",
                                                "OUTPUT"
                                            ]
                                        },
                                        "select": {
                                            "label": "My Drive"
                                        },
                                        "select1": {
                                            "label": "No"
                                        },
                                        "conflictBehavior": {
                                            "label": "Replace the existing file"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "azure"
                                            },
                                            "label": "My Microsoft connection (Grzegorz Ciapa <grzegorz.ciapa@outlook.com>)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:azure",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "enter",
                                        "type": "select",
                                        "label": "Enter (Folder Location ID & Path)",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "id",
                                                "path"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "conflictBehavior",
                                        "type": "select",
                                        "label": "If the File with the Same Name Exists",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "replace",
                                                "rename",
                                                "fail"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Choose your OneDrive location",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "my",
                                                "site",
                                                "group"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "select1",
                                        "type": "select",
                                        "label": "Enable to Enter a Drive ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "yes",
                                                "no"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "folder",
                                        "type": "folder",
                                        "label": "Folder"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "tlsType": "",
                                "proxyKeychain": "",
                                "authenticationType": "noAuth"
                            },
                            "mapper": {
                                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash-preview:generateContent?key=AIzaSyB8LYs-MtsFobb-aHJvkoECzCPnjUH4Wbg",
                                "method": "post",
                                "timeout": "300",
                                "contentType": "json",
                                "inputMethod": "jsonString",
                                "shareCookies": false,
                                "parseResponse": true,
                                "allowRedirects": true,
                                "stopOnHttpError": true,
                                "jsonStringBodyContent": "{\r\n  \"contents\": [\r\n    {\r\n      \"parts\": [\r\n        {\r\n          \"text\": \"Jesteś ekspertem akademickim ze specjalizacją w Inżynierii Kwantowej oraz Finansach. Tworzysz kompletne, spójne notatki w LaTeX na podstawie dołączonego pliku PDF.\\n\\nZASADY:\\n1. Wygeneruj KOMPLETNY i gotowy do kompilacji dokument LaTeX.\\n2. ZAWSZE dodawaj preambułę z pakietami: \\\\\\\\usepackage[T1]{fontenc}, \\\\\\\\usepackage[utf8]{inputenc}, \\\\\\\\usepackage{polski}, \\\\\\\\usepackage{amsmath, amssymb, graphicx, geometry}.\\n3. Jeśli temat to FIZYKA/KWANTY: Obowiązkowo rób notatki po polsku, dodaj w preambule \\\\\\\\usepackage{physics} oraz \\\\\\\\usepackage{braket}.\\n4. Jeśli temat to FINANSE: Używaj standardowej notacji finansowej oraz co BARDZO ważne, notatki z finansów generuj w języku angielskim..\\n5. BARDZO WAŻNE: Wygeneruj TYLKO czysty kod. Nie umieszczaj kodu w znacznikach markdown.\"\r\n        },\r\n        {\r\n          \"inline_data\": {\r\n            \"mime_type\": \"application/pdf\",\r\n            \"data\": \"{{base64(7.data)}}\"\r\n          }\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}",
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 415,
                                    "y": 191
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                                        },
                                        "inputMethod": {
                                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "parseResponse": {
                                            "mode": "chose"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        },
                                        "queryParameters": {
                                            "mode": "chose"
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "proxyKeychain": {
                                            "label": "Choose a key"
                                        },
                                        "authenticationType": {
                                            "label": "No authenticationUse when no credentials are required for the request."
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "queryParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Parameter"
                                        },
                                        "type": "array",
                                        "label": "Query parameters"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "inputMethod",
                                        "type": "select",
                                        "label": "Body input method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "dataStructure",
                                                "jsonString"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "jsonStringBodyContent",
                                        "type": "text",
                                        "label": "Body content",
                                        "required": true
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "type": "any",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "statusCode",
                                        "type": "number",
                                        "label": "Status Code"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "type": "text",
                                                "label": "Content-Length"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "type": "text",
                                                "label": "Content-Encoding"
                                            },
                                            {
                                                "name": "content-type",
                                                "type": "text",
                                                "label": "Content-Type"
                                            },
                                            {
                                                "name": "server",
                                                "type": "text",
                                                "label": "Server"
                                            },
                                            {
                                                "name": "cache-control",
                                                "type": "text",
                                                "label": "Cache-Control"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array",
                                                "label": "Set-Cookie"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Headers"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 29,
                            "module": "onedrive:uploadAFile",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5403455
                            },
                            "mapper": {
                                "data": "toBinary({{18.data.candidates[].content.parts[].text}})",
                                "enter": "id",
                                "folder": "/B57426E8320FE146!s90a3af5514ab4d1dac5e6926c7948825/B57426E8320FE146!s9ddff4a2c7274ca28b6e81b953b559cd",
                                "select": "my",
                                "select1": "no",
                                "filename": "{{replace(5.name; \".pdf\"; \".tex\")}}",
                                "conflictBehavior": "replace"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 707,
                                    "y": 206
                                },
                                "restore": {
                                    "expect": {
                                        "enter": {
                                            "label": "Folder Location ID"
                                        },
                                        "folder": {
                                            "mode": "chose",
                                            "path": [
                                                "AA_Studia_Auto",
                                                "OUTPUT"
                                            ]
                                        },
                                        "select": {
                                            "label": "My Drive"
                                        },
                                        "select1": {
                                            "label": "No"
                                        },
                                        "conflictBehavior": {
                                            "label": "Replace the existing file"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "azure"
                                            },
                                            "label": "My Microsoft connection (Grzegorz Ciapa <grzegorz.ciapa@outlook.com>)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:azure",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "enter",
                                        "type": "select",
                                        "label": "Enter (Folder Location ID & Path)",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "id",
                                                "path"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "conflictBehavior",
                                        "type": "select",
                                        "label": "If the File with the Same Name Exists",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "replace",
                                                "rename",
                                                "fail"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Choose your OneDrive location",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "my",
                                                "site",
                                                "group"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "select1",
                                        "type": "select",
                                        "label": "Enable to Enter a Drive ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "yes",
                                                "no"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "folder",
                                        "type": "folder",
                                        "label": "Folder"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}